section.lead {
  background-image: url('../img/sw-hero-home.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
  color: $white;
  text-align: center;

  @include tablet-breakpoint {
    height: 400px;
  }

  @include desktop-breakpoint {
    height: 600px;
  }

}
